.peliculasGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}
.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.searchBox {
  position: relative;
}
.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
  padding: 5px;
}
.searchInput {
  height: 35px;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
  border: 1px solid white;
}
.searchButton:focus,
.searchInput:focus{
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 5px rosybrown;
}
@media (max-width: 425px) {
  .peliculasGrid {
    grid-template-columns: 100%;
  }
}
